
<nav>
    <div class="container">
       <h5 class="text-white"> Arak</h5> 
      <div>
        <ul class="navbar-nav ml-auto">
        
          <li class="nav-item active">
              <%=link_to "Home", home_path, class:"nav-link font-weight-bold text-white"%>
          </li>
          <li class="nav-item">
            <%=link_to "My profile", appointments_path, class:"nav-link font-weight-bold text-white"%>
          </li>
          <li class="nav-item">
            <%=link_to "New Appointment", new_appointment_path, class:"nav-link font-weight-bold text-white"%> 
          </li>
            <li class="nav-item">
            <%=link_to "Doctor", doctors_path, class:"nav-link font-weight-bold text-white"%> 
          </li>
             <li class="nav-item">
            <%=link_to "about us", class:"nav-link font-weight-bold text-white"%> 
          </li>

          <%if user_signed_in? %>
          <li class="nav-item">
            <%=link_to "Sign Out", destroy_user_session_path, method: :delete, class:"nav-link font-weight-bold text-black" %>
          </li>
            <%else%>
          <li class="nav-item">
            <%=link_to "Sign In ", new_user_session_path, class:"nav-link font-weight-bold text-white"%>  
          </li>
          <li class="nav-item">
            <%=link_to "Sign Up", new_user_registration_path, class:"nav-link font-weight-bold text-white"%>  
          </li>
          <%end%>
        </ul>
      </div>
    </div>
  </nav>
  
      